table {
	border-collapse: collapse;
	border: 1px solid #000000;
	border-spacing: 0;
}

td {
	width: 120px;
	height: 120px;
	background-color: #000000;
	color: #ffffff;
	border: 3px solid #ffffff;
	border-radius: 10px 10px 10px 10px;
	font-size: 80px;
	text-align: center;
	vertical-align: middle;
}

#output {
	display: block;
	margin-top: 10px;
	text-align: left;
}

button {
	margin-top: 10px;
}